* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.bodySignUp {
    background-color: #241939;
    height: 100vh ;
    display: flex ;
    box-shadow: 0 0 10px #00000070 ;
    flex-direction: column ;
    justify-content: center ;
    align-items: flex-start ;
    padding-left: 300px ;
}




.signUpBox {
    background-color: #443A56;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000070;
    width: 350px;
    
}

.signUpLabel {
    color: #dcd4f2;
    margin-bottom: 20px;
    font-weight: bolder;
    letter-spacing: 1px;

}

.inputBox {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    padding: 8px 12px;
    border: 3px solid #9a85c9;
    border-radius: 8px;
    background-color: transparent;
}


.buttonSign {
    margin-top: 10px;
    width: 95px ;
    padding: 10px;
    background: linear-gradient(to right, #a89ccf, #716c99);
    border: none;
    border-radius: 8px;
    color: #1c1230;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    flex-direction: column;
    align-items: center;

}

.buttonSign:hover {
    background: linear-gradient(to right, #9580cf, #525370);
}

.signupText {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #D7D0FA;
    font-size: 12px;
    background-color: transparent;
    border: 0cap;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    font-size: large;
    text-decoration: none;

}

.loginBanner {
    position: fixed;      
    top: 0;
    right: 0;
    height: 100vh;          
    width: auto;            
    object-fit: cover;     
    z-index: 10;            

}

.message{
    background-color: #443A56;
    color: #bab4ee;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;



}

.homepage{
       background-color: #241939;
       color: #bab4ee;
       justify-content: center;
       align-items: center;
       display: flex;
       flex-direction: column;
       margin-top: 300px;
}

.h1Homepage{
    font-size: 50px;
}

.logoutButton{
    margin-top: 10px;
    width: 95px ;
    padding: 10px;
    background: linear-gradient(to right, #a89ccf, #716c99);
    border: none;
    border-radius: 8px;
    color: #1c1230;
    font-family: 'Playfair Display', serif;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}


.labels{
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    color: #dcd4f2
}

.addbooksLabel {
    color: #dcd4f2;
    margin-bottom: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-left: 80px;
}


.buttonaddbook {
    margin-top: 10px;
    width: 95px ;
    padding: 10px;
    background: linear-gradient(to right, #a89ccf, #716c99);
    border: none;
    border-radius: 8px;
    color: #1c1230;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttonaddbook:hover {
    background: linear-gradient(to right, #9580cf, #525370);
}